* {
    margin: 0;
    padding: 0;
  }
  
    body {
      background-image: radial-gradient(circle at center center, transparent,rgb(0,0,0)),linear-gradient(300deg, rgba(198, 198, 198,0.05) 0%, rgba(198, 198, 198,0.05) 50%,rgba(11, 11, 11,0.05) 50%, rgba(11, 11, 11,0.05) 100%),linear-gradient(64deg, rgba(54, 54, 54,0.05) 0%, rgba(54, 54, 54,0.05) 50%,rgba(132, 132, 132,0.05) 50%, rgba(132, 132, 132,0.05) 100%),linear-gradient(17deg, rgba(57, 57, 57,0.05) 0%, rgba(57, 57, 57,0.05) 50%,rgba(128, 128, 128,0.05) 50%, rgba(128, 128, 128,0.05) 100%),linear-gradient(332deg, rgba(97, 97, 97,0.05) 0%, rgba(97, 97, 97,0.05) 50%,rgba(85, 85, 85,0.05) 50%, rgba(85, 85, 85,0.05) 100%),linear-gradient(148deg, rgba(237, 237, 237,0.05) 0%, rgba(237, 237, 237,0.05) 50%,rgba(211, 211, 211,0.05) 50%, rgba(211, 211, 211,0.05) 100%),linear-gradient(142deg, rgba(168, 168, 168,0.05) 0%, rgba(168, 168, 168,0.05) 50%,rgba(32, 32, 32,0.05) 50%, rgba(32, 32, 32,0.05) 100%),linear-gradient(15deg, rgba(225, 225, 225,0.05) 0%, rgba(225, 225, 225,0.05) 50%,rgba(228, 228, 228,0.05) 50%, rgba(228, 228, 228,0.05) 100%),linear-gradient(5deg, rgba(104, 104, 104,0.05) 0%, rgba(104, 104, 104,0.05) 50%,rgba(43, 43, 43,0.05) 50%, rgba(43, 43, 43,0.05) 100%),radial-gradient(circle at center center, hsl(290,5%,8%),hsl(290,5%,8%));
      background-position: 100%;
      background-size: cover;
      text-align: center;
      height: 100%;
  }

  .container {
   height: auto;
   padding-top: 25px;
   padding-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1{
    font-size: 45px;
    color: #fff;
    text-shadow: 0px 1px 0px #ffffc7;
    margin-top: 40px;
  }
  h1.Msg_preview{
    font-size: 45px;
    color: #fff;
    text-shadow: 0px 1px 0px #ffffc7;
    margin-bottom: 0px;
  }
  @media screen and (max-width:500px) {
    h1.Msg_preview{
      font-size: 25px;
    }
  }
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    border: 1px solid #fff;
    border-radius: 12px;
    padding: 1rem;
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #000;
    background-color: #fff;
  }
   
  #msg {
    color: #fff;
    font-size: 40px;
  }
  @media screen and (max-width:900px) {
    #msg{
      font-size: 35px;

    }
  }
  @media screen and (max-width:500px) {
    #msg{
      font-size: 20px;
      line-height: 35px;
    }
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

  }
  
  .hide,
  .Preview {
    display: none;
  }

  button#reset-btn,
  button#new-btn,
  button#start-game,
  button.overlay-button{
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    background-image: linear-gradient(45deg, #030101 0%, #2f2e2e  51%, #000  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
     transition: all 0.3s ease-in-out; 
  }
  
  button#reset-btn:hover,
  button#new-btn:hover,
  button#start-game:hover,
  button.overlay-button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    box-shadow: 0px 0px 14px -7px #fff;
  }
  
  button#reset-btn:active,
  button#new-btn:active,
  button#start-game:active,
  button.overlay-button:active {
    transform: scale(1.2);
  }

button#reset-btn{
  margin-bottom: 25px;
}
  .Match_Preview {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    background-image: linear-gradient(45deg, #030101 0%, #2f2e2e  51%, #000  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
     transition: all 0.3s ease-in-out; 
    text-decoration: none;
  }
  
  .Match_Preview:hover {
    background-position: right center; /* Modify this line */
    color: #fff;
    text-decoration: none;
    box-shadow: 0px 0px 14px -7px #fff;
  }
  
  .Match_Preview:active {
    transform: scale(0.95);
  }

  #reset-btn {
    display: none;
  }

  #error-message {
    display: none;
    color: red;
  }
  .Tic_Text{
    width: 100%;
    margin: auto;
  }
  div.Tic_Toc_Text{
    width: 80%;
    margin: auto;
  }
  div.O_Player,
  div.X_player{
    margin-top: 15px;
  }
  label.Player_Tic{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
  }
  input[type=text]{
    width: 80%;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px 17px;
    border-radius: 5px;
    border: 1px solid #fff;
    outline: none;
    color: #000;
    font-size: 18px;
  }
  input[type=text]:hover,
  input[type=text]:focus{
    box-shadow: 0 0px 2px 3px dodgerblue;
    border: 1px solid dodgerblue;
    outline: 1px solid blue;
  }
  div.Btn_Tic{
    margin-top: 10px;
  }
  button#start-game:hover{
    box-shadow: 0 0 4px dodgerblue !important;
    color: dodgerblue !important;
  }
  div.overlay-buttons{
    margin-top: 20px;
  }
  span.X_O_Name{
    color: dodgerblue;
    font-size: 20px;
  }
  span.winner,
  .Timecount{
    color: dodgerblue;
  }
  .win {
    background-color: black; /* or any other style you prefer */
    border: 4px solid red; 
    color: #fff;
  }
  .winning-line {
   position: relative;
    height: 2px;
    background-color: black;
  }
  .win-line {
    position: absolute;
    width: 5px; /* Adjust as needed */
    background-color: dodgerblue; /* Adjust color as needed */
    z-index: 999999; /* Ensure the line is above the boxes */
  }


  